<div class="pk-padding">
  <mat-card class="pk-text-center">
    <mat-card-title>
      <div>Lesson {{lessonNumber}}</div>
      <div style="font-size: 0.7em; color: grey">
        <span><mat-icon>notes</mat-icon>Lesson Score: {{lessonScore}}</span>
        <span *ngIf="score" class="pk-padding-left">
          <mat-icon>bar_chart</mat-icon>High Score: {{score.score}}
        </span>
      </div>
      <div style="color: green;" *ngIf="finishedMessage">{{finishedMessage}}</div>
      <div style="color: red;" *ngIf="errorMessage">{{errorMessage}}</div>
    </mat-card-title>
    <mat-card-content>
      <div *ngIf="isShowLesson()" class="text-div">{{makeLessonText()}}</div>
      <textarea *ngIf="isTyping()"
                #textArea
                id="lessonTextArea"
                title="Lesson"
                rows="10"
                cols="70"
                [(ngModel)]="lessonTyped"
                style="resize: none; font-size: 1.5em; font-family: 'Courier New',monospace"></textarea>
      <td-ngx-text-diff *ngIf="isShowScore()"
                        [left]="lessonTyped"
                        [right]="makeLessonText()"
                        [showToolbar]="false"
                        (compareResults)="onScoreDiff($event)"
                        style="text-align: left;">
      </td-ngx-text-diff>
    </mat-card-content>
    <mat-card-footer>
      <mat-grid-list cols="4" rowHeight="40px" class="pk-padding-bottom-s">
        <mat-grid-tile style="text-align: left">
          <button mat-icon-button
                  mat-stroked-button
                  *ngIf="lessonNumber > 1"
                  routerLink="{{makeLessonLink(-1)}}"
                  queryParamsHandling="preserve">
            <mat-icon aria-label="Previous">arrow_back</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="pk-text-center">
          <button mat-raised-button
                  color="primary"
                  *ngIf="isShowLesson()"
                  (click)="onStartClicked()">
            Start!
          </button>
          <button mat-raised-button
                  color="primary"
                  *ngIf="isTyping()"
                  (click)="onDoneClicked()">
            Done!
          </button>
          <button mat-raised-button
                  color="primary"
                  *ngIf="isShowScore()"
                  (click)="onRestartClicked()">
            Restart!
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="pk-text-center">
          <mat-checkbox class="example-margin"
                        (change)="onVelthuisChanged()"
                        [(ngModel)]="velthuis">Velthuis
          </mat-checkbox>
        </mat-grid-tile>
        <mat-grid-tile style="text-align: right">
          <button mat-icon-button
                  mat-stroked-button
                  *ngIf="lessonNumber < MAX_LESSON"
                  routerLink="{{makeLessonLink(1)}}"
                  queryParamsHandling="preserve">
            <mat-icon aria-label="Previous">arrow_forward</mat-icon>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-footer>
  </mat-card>
</div>
